<div id="page">
<nav class="fh5co-nav" role="navigation">
<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-right">
                <ul class="fh5co-social">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="top-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo"><%= link_to 'M.AjudaJus', root_path %><span>.</span></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li><%=link_to 'Início', root_path%></li>
                    <% if user_signed_in? %>
                         <li class="has-dropdown">
                            <%= link_to 'Minha conta ↓ ', class: "link-top" %>
                            <ul class="dropdown">
                                <li><%= link_to 'Perfil', perfil_path %></li>
                                <!-- <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li> -->
                                <li><%= link_to(destroy_user_session_path, :method => :get)  do %>
                                    Sair
                                <% end %></li>
                            </ul>
                        </li>
                        <% else %>
                        <li  class="btn-cta">
                            <%=link_to new_user_session_path do %>
                            <span>Login</span>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
        
    </div>
</div>
</nav>
<%= yield %>
<footer id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p class="custom-footer">
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
                        <small class="block"> Customized by Rayane Santos</small> 
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
</div>