<div id="fh5co-contact" class="main-form">
  <div class="container">
    <%= flash_message %>
    <% if @lawyer.errors.any? %>
    <script>
     $(document).ready(function() {
      noty({text: '<ul><% @lawyer.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>', layout: 'bottom', type: 'warning', timeout: 4000});
    });
    </script>
  <% end %>
  <div class="row form-login">
      <div class="col-md-12 animate-box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "custom-form-login"}) do |f| %>
      <h3>Informações cadastrais Advogado:</h3>
      
        <% if !devise_error_messages!.blank? %>
        <div class="alert alert-danger" role="alert" aria-label="Close">
            <%= devise_error_messages! %>
        </div>
        <% end %>
            <div class="row form-group">
                  <div class="col-md-12">
                      <%= f.text_field  :first_name, id:"firstname", class:"form-control", placeholder:"Seu primeiro nome", type: "text", autofocus: true %>
                  </div>
            </div>
            <div class="row form-group">
                  <div class="col-md-12">
                      <%= f.text_field  :last_name, id:"lastname", class:"form-control", placeholder:"Seu último nome", type: "text", autofocus: true %>
                  </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-12">
                      <%= f.email_field :email, id:"email", class:"form-control", placeholder:"Seu email", type: "text", autofocus: true %>
                  </div>
               </div>
               <div class="row form-group">
                  <div class="col-md-12">
                    <%= f.password_field :password, id:"password", class:"form-control", placeholder:"Sua senha de, no mínimo, 6 caracteres", text: "text", autocomplete: "off" %>
                  </div>
              </div>
              <div class="row form-group">
                    <div class="col-md-12">
                        <span>O estado em que você atua:</span>
                        <%= f.select :state, ['Acre-AC', 'Alagoas-AL','Amapá-AP','Amazonas-AM', 'Bahia-BA', 'Ceará-CE', 'Distrito Federal-DF', 'Espírito Santo-ES', 'Goiás-GO', 'Maranhão-MA', 'Mato Grosso-MT', 'Mato Grosso do Sul-MS', 'Minas Gerais-MG', 'Pará-PA', 'Paraíba-PB', 'Paraná-PR', 'Pernambuco-PE', 'Piauí-PI', 'Rio de Janeiro-RJ', 'Rio Grande do Norte-RN', 'Rio Grande do Sul-RS', 'Rondônia-RO', 'Roraima-RR', 'Santa Catarina-SC', 'São Paulo-SP', 'Sergipe-SE', 'Tocantins-TO'], { include_blank: false }, {:class => 'form-control'}%>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <span>Seu avatar:</span>
                        <%= f.file_field :avatar, class:"form-control"%>
                    </div>
                </div>
            <div class="form-group">
              <%= f.submit "Enviar",  class:"btn btn-primary"%>
            </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
