<div id="fh5co-contact" class="main-form">
    <div class="container">
        <div class="row form-group text-center">
            <h3>Já possui conta?</h3>
            <div class="form-group">
                <%= link_to 'Login', new_user_session_path, class:"btn custom-btn"%>
            </div>
        </div>
        <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= flash_message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <% if @user.errors.any? %>
        <script>
         $(document).ready(function() {
          noty({text: '<ul><% @user.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>', layout: 'bottom', type: 'warning', timeout: 4000});
        });
        </script>
      <% end %>
        <div class="row form-login">
            <div class="col-md-12 animate-box">
               <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "custom-form-login"}) do |f| %>
                <h3>Informações cadastrais Cliente:</h3>
                <% if !devise_error_messages!.blank? %>
                <div class="alert alert-danger" role="alert" aria-label="Close">
                <%= devise_error_messages! %>
                </div>
                <% end %>
                  <div class="row form-group">
                      <div class="col-md-12">
                          <%= f.text_field :first_name, autofocus: true, id:"first_name", class:"form-control", placeholder:"Seu nome"%>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-12">
                          <%= f.text_field :last_name, autofocus: true, id:"first_name", class:"form-control", placeholder:"Seu sobrenome"%>
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-md-12">
                          <%= f.email_field :email, autofocus: true, id:"email", class:"form-control", placeholder:"Seu email"%>
                      </div>
                    </div>
                    <div class="row form-group">
                      <div class="col-md-12">
                          <%= f.password_field :password, autofocus: true, id:"password", class:"form-control", placeholder:"Sua senha"%>
                      </div>
                  </div>
                  <div class="row form-group">
                      <div class="col-md-12">
                          <span>O estado em que você mora:</span>
                          <%= f.select :state, ['Acre-AC', 'Alagoas-AL','Amapá-AP','Amazonas-AM', 'Bahia-BA', 'Ceará-CE', 'Distrito Federal-DF', 'Espírito Santo-ES', 'Goiás-GO', 'Maranhão-MA', 'Mato Grosso-MT', 'Mato Grosso do Sul-MS', 'Minas Gerais-MG', 'Pará-PA', 'Paraíba-PB', 'Paraná-PR', 'Pernambuco-PE', 'Piauí-PI', 'Rio de Janeiro-RJ', 'Rio Grande do Norte-RN', 'Rio Grande do Sul-RS', 'Rondônia-RO', 'Roraima-RR', 'Santa Catarina-SC', 'São Paulo-SP', 'Sergipe-SE', 'Tocantins-TO'], { include_blank: false }, {:class => 'form-control'}%>
                      </div>
                  </div>
                  <div class="row form-group">
                        <div class="col-md-12">
                            <span>Seu avatar:</span>
                            <%= f.file_field :avatar, class:"form-control"%>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.submit "Enviar", class:"btn btn-primary"%>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
</div>

